:root {
  --color-btn-primary: black;
  --color-btn-secondary: rgb(75 85 99);
  --color-border-hard: rgb(100, 100, 100);
  --color-border-soft: rgba(100, 100, 100, 0.3);
  --color-icon: #a0aec0;
  --color-icon-active: #718096;
  --color-light-gary: rgb(250, 250, 250);
  --color-card-bg: rgb(16, 16, 16);
}
