// Notification 顶部通知栏
.notification {
  @apply select-none cursor-pointer md:text-2xl text-lg md:mt-4 mt-2 tracking-wider font-bold text-center text-primary bg-pure shadow-sm px-4 py-2 rounded;
}

.notification:hover {
  animation: bg-white-to-gray 150ms;
  animation-fill-mode: forwards;
}

// Button

.button {
  @apply cursor-pointer h-10 px-4 flex items-center justify-center text-base rounded-md shadow-sm font-semibold border min-w-[6rem];
  transition: background-color 150ms, border-color 150ms, border-width 150ms, color 150ms;
}

.button.primary:hover {
  @apply bg-btn-primary-active border-black;
  transition: background-color 150ms, border-color 150ms, border-width 150ms, color 150ms;
}
.button.secondary:hover {
  @apply bg-btn-secondary-active border-black;
  transition: background-color 150ms, border-color 150ms, border-width 150ms, color 150ms;
}

.button.primary {
  @apply bg-btn-primary text-btn-primary;
}
.button.secondary {
  @apply bg-btn-secondary text-btn-secondary;
}

.cloud-box {
  width: 90vw;
  height: 60vh;
  @apply overflow-hidden flex items-center justify-center flex-col rounded-lg m-auto relative rounded-lg;
}

.cloud-bg {
  background-size: contain;
  background-color: rgba($color: #fff, $alpha: 0.3);
  // background-image: url(/common/tim-burroughs-mainshot.jpg);
  background-blend-mode: lighten;
  width: 100%;
  height: 100%;
  mask-position: center center;
  mask-repeat: no-repeat;
  @apply bg-cover bg-center bg-no-repeat absolute;
  // mask: url('/common/ink.77970df7.png') center center / var(--mask-width) var(--mask-height) no-repeat;
  opacity: 1;
  // 执行一次
  animation: ani-mask 2s linear forwards, ani-shake 10s linear infinite;
  // animation: shack 4s linear infinite;
}

@keyframes ani-shake {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.02, 1, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes ani-mask {
  0% {
    mask-size: 500px 500px;
  }
  100% {
    mask-size: 3000px 2200px;
  }
}
