@tailwind base;
@tailwind components;
@tailwind utilities;

// :root {
//   --foreground-rgb: 0, 0, 0;
//   --background-start-rgb: 214, 219, 220;
//   --background-end-rgb: 255, 255, 255;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

// body {
//   color: rgb(var(--foreground-rgb));
//   background: linear-gradient(
//       to bottom,
//       transparent,
//       rgb(var(--background-end-rgb))
//     )
//     rgb(var(--background-start-rgb));
// }

.icon {
  @apply cursor-pointer;
  fill: #a0aec0;
  transition: fill 300ms;
}

.icon:hover {
  fill: #718096;
}

// 顶部通知栏
.notification {
  @apply cursor-pointer md:text-2xl text-lg md:mt-4 mt-2 tracking-wider font-bold  text-center bg-white shadow-sm px-2 py-1 rounded;
}

.notification:hover {
  animation: bg-white-to-gray 300ms;
  animation-fill-mode: forwards;
}

// 三个省略号等待动画
.waiting::after {
  animation: waiting 10s infinite;
  content: '';
}

@keyframes bg-white-to-gray {
  0% {
    @apply shadow-sm;
    background-color: white;
  }
  100% {
    @apply shadow-none;
    background-color: rgb(250 250 250);
  }
}

@keyframes waiting {
  0%,
  100% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}
