@tailwind base;
@tailwind components;
@tailwind utilities;
@import './animation';

// 监听浏览器主题并切换背景色
// :root {
//   --foreground-rgb: 0, 0, 0;
//   --background-start-rgb: 214, 219, 220;
//   --background-end-rgb: 255, 255, 255;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

// body {
//   color: rgb(var(--foreground-rgb));
//   background: linear-gradient(
//       to bottom,
//       transparent,
//       rgb(var(--background-end-rgb))
//     )
//     rgb(var(--background-start-rgb));
// }

// 三个省略号等待动画
.waiting::after {
  animation: waiting 10s infinite;
  content: '';
}

.button {
  @apply cursor-pointer h-10 px-4 flex items-center justify-center text-base rounded-md shadow-sm font-semibold border min-w-[6rem];
  transition: background-color 150ms, border-color 150ms, color 150ms;
}

.button.primary:hover {
  @apply bg-white border-black text-black;
  transition: background-color 150ms, border-color 150ms, color 150ms;
}
.button.secondary:hover {
  @apply bg-white border-black text-black;
  transition: background-color 150ms, border-color 150ms, color 150ms;
}

.button.primary {
  @apply bg-black text-white;
}
.button.secondary {
  @apply bg-white text-gray-600;
}
